<h1>New email for <%= @email.contact.name %></h1>

<% if @email.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
      <% @email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<form action="/contacts/<%= @email.contact.id %>/emails" method="post">
  <input id="email" name="address" type="email" value="<%= @email.address %>">
  <input type="color" name="col">
  <button>Add email</button>
</form>