<h1>Email saved!</h1>

<p>Your email was successfully saved.</p>

<p><a href="/contacts/<%= @contact.id %>">View <%= @email.contact.name %></a></p>

<p><a href="/contacts">Return to contact listing</a></p>